# Archivos del sistema operativo
Thumbs.db
desktop.ini
.DS_Store

# Configuraciones locales de editores (VS Code, etc.)
.vscode/
.idea/
*.suo
*.user
*.workspace

# Configuración local de Supabase
supabase.local.json
*.local.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
